.formTitle{font-size: 24px;margin-bottom: 20px;font-weight:bold;}
.stepTitle{
	font-size: 20px;
	margin-bottom: 20px;
	font-weight:bold;
}
.subTitle{
	font-size: 16px;
	margin-bottom: 20px;
	font-weight:bold;
}
.stepWrapper {display: none;margin-bottom: 20px;}
.stepWrapper.active{display: block;}

.scrollForm {
	max-height: 365px;
    overflow: auto;
    background: #ebebef;
    padding: 15px;
    border: 1px solid #d0b4b4;
    border-radius: 2px;
}
.scrollForm .checkboxWrapper * {cursor: pointer;margin: 0;}
.scrollForm .checkboxWrapper label {margin-top: -2px;vertical-align: top;}

.navButtonsWrapper {margin-bottom: 10px;}
.subStep + .subStep {margin-top: 20px;}